<h1><%= @animal.name %></h1>

<p><%= @animal.type %></p>
<p><%= @animal.admission_date %></p>
<p><%= @animal.adoptable %></p>
<p><%= @animal.type %></p>
<% if @animal.customer_id != nil %>
<p><%= @animal.customer_id.name %></p>
<% end %>
